* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
}


header {
    overflow: hidden;

  }
  
  header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 24px;
    border-radius: 4px;
    
  }
  header a:hover {
    background-color: #777;
    color: white;
  }
  
  header a.active {
    background-color: #777;
    color: white;
  }
  
  .header-right {
    display:inline;

  }

  header .triconLogo{
     width:18%;

  }

   header ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #950740;
}

header li {
    float: right;
}

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover {
    background-color: #777;
}
.icons{
    float: left;
    color: white;
    margin-top: 14%;
}

  
nav {
    float: left;
    width: 30%;
    height: 100%; 
    padding: 20px;
}

nav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: inline;
}

nav a:hover {
    color: #777;
    
}

nav ul{
    list-style-type: none;
}
nav li{
    margin-bottom: 20%;
}

.nav-icons{
float: left;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #C5C6C7;
    height: auto; 
    margin-bottom: 2%;
}

article .imgLeft{
    float: left;
    margin-right: 2%;
    width:235px;height:170px;margin-left:15px;
}

article .imgRight{
    float: right;
    width:235px;height:170px;margin-left:15px;

}
article p{
    margin-bottom: 8%;
    text-align: justify;
}

section:after {
    content: "";
    display: block;
    clear: both;
}

footer {
    background-color:#1A1A1D;
    padding: 10px;
    color: white;
}
footer p{
    text-align: center;
}

footer a{
    color: white;
    text-decoration: none;
    margin-left: 12%;
    margin-right: 5%;
}
footer ul {
    list-style-type: none;
    display: block;
    color: white;
    
}
.footer-list{
    margin-right: 5%;
}
.footer-list li{
    display: inline;
}

/* @media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
} */