
* {
    box-sizing: border-box;
}

body {
    background-color: #fdf1ec;
    font-family: 'poppins';
  }
  
  .row {
    height: 420px;
    width: 654px;
    margin:0 auto;
  }
  
  .col-left img {
    float: left;
    width: 327px;
    border-radius: 7px 0 0 7px;
  }
  
  .col-right {
    float: right;
    width: 327px;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
  }
  
  .col-right-row1 {
    height: 300px;
    width: 327px;
  }
  
  .col-right-row1 h1 {
    margin: 0 0 0 38px;
    padding-top: 52px;
    font-size: 34px;
    color: #474747;
  }
  
  
  .col-right-row1 h2 {
    margin: 0 0 47px 38px;
    font-size: 13px;
    color: #d2d2d2;
  }
  
  .col-right-row1 p {
    height: 125px;
    margin: 0 0 0 38px;
    color: #8d8d8d;
    font-size: 15px;
  }
  
  .col-right-row2 {
    height: 103px;
    width: 327px;
    margin-top: 17px;
  }
  
  .col-right-row2 button {
    float: right;
    height: 50px;
    width: 176px;
    margin: 0 40px 0 16px;
    border: transparent;
    border-radius: 60px;
    font-size: 14px;
    color: #ffffff;
    background-color: #9cebd5;
  }
  
  .col-right-row2 button:hover {
    background-color: #79b0a1;
  }