
* {
    box-sizing: border-box;
}

body {
    background-color: #fdf1ec;
    font-family: 'poppins';
    width:100%;
    margin: 0;
    padding: 0; 
 }
  
  .card {
    height: 420px;
    margin:0 auto;
  }

  .card-img{
      width: 50%;
      overflow: hidden;
      float: left;
  }
  
  .card-img img {
    float: left;
    width:100%;
    height:420px;
    border-radius: 7px 0 0 7px;
  }
  .zoom img {
    transition: transform .2s;
    }

  .zoom img:hover{
    transform: scale(1.5);
  }

  .card-content {
    float: right;
    height: 420px;
    width:50%;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
    position:relative;
  }
  
  .card-content-text{
    width: 100%;
    height: 300px;
    overflow: hidden;
    padding-top: 52px;
  }

  .card-content::before{
    content: "";
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    position: absolute;
    float: right;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent; 
    border-right:50px solid #ffffff;
  }
  
  .card-content-text h1 {
    margin: 0 0 0 38px;
    font-size: 34px;
    color: #474747;
  }
  
  
  .card-content-text h2 {
    margin: 0 0 47px 38px;
    font-size: 13px;
    color: #d2d2d2;
  }
  
  .card-content-text p {
    margin: 0 0 0 38px;
    color: #8d8d8d;
    font-size: 15px;
    overflow: hidden;
    text-align: justify;
    margin-right: 5%;
  }
  
  .card-content-button {
    width: 100%;
    margin-top: 17px;
    height: 120px;
  }
  
  .card-content-button button {
    float: right;
    height: 50px;
    min-width: 100px;
    margin-right: 20px;
    border: transparent;
    border-radius: 60px;
    font-size: 14px;
    color: #ffffff;
    background-color: #9cebd5;
  }
  
  .card-content-button button:hover {
    background-color: #79b0a1;
  }