* {
    margin: 0 auto;
}

.right_div {

    height: 300px;
    width: 50%;
    text-align: left;
    float: right;
    position: relative;
    background-color: #9DD0D1;
    box-sizing: border-box;
    padding: 20px;

}

.right_div:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid #9DD0D1;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 99%;

}

section {
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.left_div {
    height: 300px;
    width: 50%;
    float: left;
    overflow: hidden;


}

.button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: #0D7577;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin: 4px 2px;
    cursor: pointer;

}

img {
    -webkit-transition: all 300ms 0ms ease-in-out;
    transition: all 300ms 0ms ease-in-out;
}

img:hover {
    -webkit-transform: scale(2);
    transform: scale(2);
}


.text {
    box-sizing: border-box;
    height: 60%;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: Georgia, Serif;
    font-size: 16px;
}

h1 {
    font-family: FreeMono, monospace;
    font-size: 32px;

}